<div class="text-center w-50 mx-auto my-5">
  <h2> <%= post.title %> </h2>
  <p> <%= post.desc %></p>
<div class="alert alert-warning py-3 my-2">
    Created At <strong> <%= post.date.toDateString() %></strong>
</div>

<a href="/" class="my-2 btn btn-dark  btn-lg">Return to home</a>
</div>