a
{
    color: white;
    text-decoration:none;
}
nav
{
    padding: 20px;
    position: sticky;
}
nav div
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav img
{
    width: 230px;
}
nav ul
{
    display: flex;
    align-items: center;
    gap: 1.4rem;
    list-style-type: none;
    
}
nav ul li
{
    color: #fff;
    font-size: medium;
    font-weight: 600;
}
nav ul  a:hover li
{
    color: #A98353;
    transition-duration:.5s;
}

/* footer */
footer .details{
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 15px;
}
footer h2{
    margin-bottom: 20px;
    color: #FFFFFF;
}
footer p{
    color:#ADADAD;
}
footer a{
    color:#ADADAD;
    list-style: none;
}
footer a li:hover{
    color: #A98353;
    transition-duration: .5s;
    transform: scale(1.1);
}
footer .copyright{
    background-color:#1E1E1E;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .copyright p{
    color:#ADADAD;
}

*{
    margin: 0%;
    font-family: 'Barlow', sans-serif;
}
.main{
    background-image: url('./images/m.jpg');
    padding-bottom: 500px;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

.room-details h1{
    font-size: 20px;
    font-weight: lighter;
}
.room-details h2{
    font-size: 40px;
    
}
.room-details p{
    font-size: 15px;
    
}
section.listaya{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.4rem;
    width: 80%;
    margin: 100px auto;
    background-color: #F8F5F0;
    padding: 50px;
    border-radius: 20px;
}
section.listaya ul{
    font-size: 30px;
    list-style: none;
}
section.listaya li{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 25px;
    
}
section.checklist{
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin-top: 20px;
}

section.checklist ul{
    font-size: 20px;
}

section.checklist li{
    font-size: 17px;
    font-weight: light;
}
header{
    text-align: center;
    font-size: 100px;
    padding-top: 250px;
    color: #AB854F;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
button{
    padding: 12px;
    background-color: #AB854F;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 15px;
}
button:hover{
    background-color: #231C12;
    transform:scale(1.05);
    transition-duration: 0.6s;
}
.llll
{
    background-color: rgb(71, 50, 30);
    padding: 10px;
    border-radius: 20px;
}
.llll:hover
{
    background-color: transparent;
}