*
{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}
a
{
    color: white;
    text-decoration: none;
}
.container
{
    width: 80%;
    margin: 0 auto;
}
section.nav_header
{
    background-image: url('./images/nav2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
/* NAV */
nav
{
    padding: 20px;
    position: sticky;
}
nav div
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav img
{
    width: 230px;
}
nav ul
{
    display: flex;
    align-items: center;
    gap: 1.4rem;
    list-style-type: none;
}
nav ul li
{
    color: #fff;
    font-size: medium;
    font-weight: 600;
}
nav ul  a:hover li
{
    color: #A98353;
    transition-duration: .5s;
}
/* END NAV */

/* HEADER */
header
{
    text-align: center;
    padding-bottom:40px ;
}
header h2:nth-child(1)
{
    margin-top: 200px ;
    color: #fff;
    font-size: small;
    font-weight: 400;
    letter-spacing: .2rem;

}
header h2:nth-child(2)
{
    margin-top: 15px;
    color: #fff;
    font-size:80px;
    font-weight: 400;
    letter-spacing: .4rem;
}
header button
{
    margin-top: 20px;
    background-color: transparent;
    letter-spacing: .1rem;
    padding: 15px 30px 15px 30px;
    color: #fff;
    margin-bottom: 150px;
    border: 1px solid #fff;
    border-radius: 10px;
}
header button:hover
{
    background-color: #fff;
    opacity: 0.7;
    color: black;
}
/* END HEADER */

/* SECTION 1 */
section.box1
{
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin-top: 50px;
    padding: 30px;
    background-color:#FFFFFF;
}
section.box1 h2
{
    margin-top: 10px;
    color: black;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: .2rem;
}
section.box1 p,
section.section4 div.services div p
{
    margin-top: 10px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .1rem;
}
section.box1 img
{
    width: 400px;
    height: 400px;
}
/* END SECTION 1 */

/* SECTION 2 */
section.section2
{
    background-color: #F8F5F0;
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
}
section.section2 img
{
    width: 350px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}
section.section2 div.fig
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
section.section2 div.fig figcaption
{
    text-align: center;
    padding: 15px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .1rem;
    background-color: #A98353;
    border: 1px solid black;
    border-radius: 20px;
}
section.section2 div.fig figure:hover
{
    transform:scale(1.05) ;
    transition-duration: .5s;
}
section.section2 p
{
    margin: 5px 10px 10px 10px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 10px;
}
section.section2 h2
{
    margin: 10px 10px 10px 5px;
    color: black;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 10px;

}
/* END SECTION 2 */

/* SECTION 3 */
section.section3
{
    background-image: url('./images/nav2.jpg');
    text-align: center;
    padding: 200px;
}
section.section3 p
{
    margin: 5px 10px 10px 10px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 10px;
}
section.section3 h2
{
    margin: 10px 10px 10px 5px;
    color: white;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 10px;
}
section.section3 video
{
    border-radius: 10px;
    
}
/* END SECTION 3 */

/* SECTION 4 */
section.section4
{
    background-color: #F8F5F0;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px;
}
section.section4 div.services
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 1.4rem;
}

section.section4 div.services div
{
    background-color: #FFFFFF;
    border-width: 15px;
    border-radius: 20px;
    padding: 20px;
}
section.section4 div.services div:hover
{
    transform: scale(1.1);
    transition-duration: .5s;
}
section.section4 div.services div h2
{
    color: black;
    letter-spacing: .1rem;
    font-weight: 800;
    font-size: 20px;
}

/* END SECTION 4 */
/* footer */
footer .details{
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 15px;
}
footer h2{
    margin-bottom: 20px;
    color: #FFFFFF;
}
footer p{
    color:#ADADAD;
}
footer a{
    color:#ADADAD;
    list-style: none;
}
footer a li:hover{
    color: #A98353;
    transition-duration: .5s;
    transform: scale(1.1);
}
footer .copyright{
    background-color:#1E1E1E;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .copyright p{
    color:#ADADAD;
}
/* END FOOTER */
.llll
{
    background-color: rgb(71, 50, 30);
    padding: 10px;
    border-radius: 20px;
}
.llll:hover
{
    background-color: transparent;
}