*
{
    margin: 0;
    padding: 0;
}
a
{
    color: white;
    text-decoration: none;
}
.container
{
    width: 95%;
    margin: 0 auto;
}
/* nav */
section.nav_header
{
    background-image: url('./images/4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
nav
{
    padding: 20px;
}
nav div
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav img
{
    width: 230px;
}
nav ul
{
    display: flex;
    align-items: center;
    gap: 1.4rem;
    list-style-type: none;
}
nav ul li
{
    color: #fff;
    font-size: medium;
    font-weight: 600;
}
nav ul  a:hover li
{
    color: #A98353;
    transition-duration: .5s;
}
/* header */
header
{
    text-align: center;
}
header h2:nth-child(1)
{
    margin-top: 200px ;
    color: #fff;
    font-size: small;
    font-weight: 400;
    letter-spacing: .2rem;

}
header h2:nth-child(2)
{
    margin-top: 15px;
    color: #fff;
    font-size:80px;
    font-weight: 400;
    letter-spacing: .4rem;
    padding-bottom: 320px;
}
/* section */
section div.box1{
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 80%;
    justify-content: space-around;
    border: 1px solid #fff;
}
section div.box1:hover{
    transform:scale(1.05);
    transition-duration: .5s;
    opacity: .8;
    border-radius: 50px;
}
section div.details{
    background-color: #fff;
    border-radius: 20px;
    opacity: .8;
    padding: 20px;
}

section .box1 p:nth-child(1){
    margin-top: 30px;
}
section .box1 p:nth-child(2){
    margin-bottom: 10px;
}
section .box1 h2
{
    margin-bottom: 5px;
    margin-top: 5px;
}
section .box1 img{
    width: 600px;
    height: 400px;
}
section .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .5rem;
}
section .icon i{
    margin-bottom: 5px;
    margin-top: 10px;
}
section .buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
section .buttons button{
    border: 1px solid #A98353;
    border-radius: 2px;
    background-color: #A98353;
    padding: 10px 20px 10px 20px;
    font-size: large;
}
section .buttons button:hover{
    color: #fff;
    background-color:black;
    transition-duration: .5s;
}
section .buttons a{
    padding: 10px 20px 10px 20px;
    font-size: large;
}
section .section2{
    display: flex;
    justify-content: space-between;
}
section .box4 img{
    width: 400px;
    height: 200px;
}
/* footer */
footer .details{
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 15px;
}
footer h2{
    margin-bottom: 20px;
    color: #FFFFFF;
}
footer p{
    color:#ADADAD;
}
footer a{
    color:#ADADAD;
    list-style: none;
}
footer a li:hover{
    color: #A98353;
    transition-duration: .5s;
    transform: scale(1.1);
}
footer .copyright{
    background-color:#1E1E1E;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .copyright p{
    color:#ADADAD;
}
.llll
{
    background-color: rgb(71, 50, 30);
    padding: 10px;
    border-radius: 20px;
}
.llll:hover
{
    background-color: transparent;
}
.message {
    display: none; /* Hide by default */
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#show:target {
    display: flex; /* Show when targeted */
    margin-top: 10px;
}
.fam
{
    border: 1px solid #A98353;
    border-radius: 2px;
    background-color: #A98353;
    padding: 10px 20px 10px 20px;
    font-size: large;
}
.fam:hover
{
    color: #fff;
    background-color:black;
    transition-duration: .5s;
}